


.friutes-header{
    height:200px;
    width:100%;
    background-color: rgba(116, 201, 148, 0.801);;
   
    display:flex;
    flex-direction: row;
}
.friut{
    height:150px;
    width:150px;
    border-radius:50%;
    margin-right: 100px;
    margin-left: 20px;
    margin-top: 10px;
    
    
    
}
p{
    margin: 0;
   font-size: 25px;
   color:#fff;
 
}